.menuSlideContainer {
    max-height: 100%;
    overflow: auto;
    width: 100%;
    background-color: white;


    @media screen and (max-width: 1160px) {
        overflow: auto;
    }

    /* width */
    &::-webkit-scrollbar {
        width: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgb(184, 184, 184);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(150, 150, 150);
    }

    .menuSlideWrapper {
        height: 100%;
        padding: 0.5rem;


        .divider {
            width: 100%;
            height: 1px;
            background-color: rgb(216, 216, 216);

            @media screen and (max-width: 850px) {
                height: 1px;
                width: 100%;
            }
        }

        .filterHeading {
            font-size: 0.9rem;
            font-weight: 500;
            margin: 5px 0;
        }

        .price {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .priceTops {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .clear {
                    margin-left: 10px;
                    cursor: pointer;
                    color: red;
                    font-size: 0.8rem;
                }
            }

            .priceBottom {
                display: flex;
                flex-direction: column;

                .priceBottomWrapper {
                    width: 100%;

                    .priceValue {
                        color: orangered;
                        font-size: .9rem;
                        font-weight: 500;
                        text-align: end;
                    }

                    .slidecontainer {
                        width: 100%;
                        /* Width of the outside container */
                    }

                    /* The slider itself */
                    .slider {
                        -webkit-appearance: none;
                        /* Override default CSS styles */
                        appearance: none;
                        width: 100%;
                        /* Full-width */
                        height: 9px;
                        /* Specified height */
                        background: #ececec;
                        /* Grey background */
                        outline: none;
                        /* Remove outline */
                        opacity: 0.7;
                        /* Set transparency (for mouse-over effects on hover) */
                        -webkit-transition: .2s;
                        /* 0.2 seconds transition on hover */
                        transition: opacity .2s;
                    }

                    /* Mouse-over effects */
                    .slider:hover {
                        opacity: 1;
                        /* Fully shown on mouse-over */
                    }

                    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
                    .slider::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        /* Override default look */
                        appearance: none;
                        border-radius: 4px;
                        width: 15px;
                        /* Set a specific slider handle width */
                        height: 15px;
                        /* Slider handle height */
                        background: orangered;
                        /* Green background */
                        cursor: pointer;
                        /* Cursor on hover */
                    }

                    .slider::-moz-range-thumb {
                        width: 15px;
                        /* Set a specific slider handle width */
                        height: 15px;
                        border-radius: 4px;
                        /* Slider handle height */
                        background: orangered;
                        /* Green background */
                        cursor: pointer;
                        /* Cursor on hover */
                    }
                }
            }
        }

        .show {
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            .showInc,
            .showNet {
                user-select: none;
                font-size: 0.9rem;
                flex: 1;
                display: flex;
                justify-content: space-between;
                cursor: pointer !important;

                label {
                    width: 100%;
                }

                input {
                    cursor: pointer;
                }
            }
        }

        .stops {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            .stopsWrapper {
                display: flex;

                span {
                    border: 1px solid rgb(143, 143, 143);
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    height: 30px;
                    width: 50px;
                    border-right: none;

                    &:last-child {
                        border-right: 1px solid rgb(143, 143, 143);
                    }
                }
            }
        }

        .departure {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            .departureWrapper {
                display: flex;

                .departureWrapperBox {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 60px;
                    background-color: white;
                    border: 1px solid rgb(143, 143, 143);
                    border-right: none;

                    &:last-child {
                        border-right: 1px solid rgb(143, 143, 143);
                    }

                    span {
                        font-size: 0.75rem;
                        color: rgb(41, 41, 41);
                    }
                }
            }
        }


        .arrival {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            .arrivalWrapper {
                display: flex;

                .arrivalWrapperBox {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    height: 50px;
                    width: 60px;
                    border: 1px solid rgb(143, 143, 143);
                    border-right: none;

                    &:last-child {
                        border-right: 1px solid rgb(143, 143, 143);
                    }

                    span {
                        font-size: 0.75rem;
                        color: rgb(41, 41, 41);
                    }
                }
            }
        }

        .fare_identifier {
            margin: 5px 0;
            display: flex;
            flex-direction: column;

            .identifierWrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;


                .identifierWrapperBox {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .box {
                        cursor: pointer;
                        height: 30px;
                        width: 30px;
                        background-color: orange;
                        border-radius: 3px;
                    }

                    .box_number {
                        font-size: 0.75em;
                        color: gray;
                    }
                }
            }

        }

        .airlines {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .airlinesTops {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .clear {
                    margin-left: 10px;
                    cursor: pointer;
                    color: red;
                    font-size: 0.8rem;
                }
            }

            .airlinesBottom {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .airlinesBottomWrapper {
                    display: flex;
                    justify-content: space-between;

                    .airlinesBottomleft {
                        font-size: 1rem;
                        font-weight: 500;
                        color: rgb(51, 51, 51);

                        span {
                            font-size: 0.8rem;
                            color: rgb(143, 143, 143);
                            ;
                        }
                    }

                    .airlinesBottomRight {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .price {
                            font-size: .9rem;
                            font-weight: 500;
                            color: rgb(83, 83, 83);
                        }
                    }
                }
            }
        }
    }
}